@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Shadows+Into+Light+Two&display=swap");
#content {
  max-width: 1600px;
  margin: 1 auto;
}
/*header css*/
header {
  background-color: #f4acb7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 140px;
}
.logo {
  width: 125px;
}
.navhead {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.home-title {
  color: #f4fffd;
  font-family: Amatic SC, PT Serif, Lato;
  font-size: 4em;
}
nav {
  display: flex;
  gap: 18px;
}
nav a {
  color: #f4fffd;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
}
nav a:hover,
.dropdown-content a:hover {
  background-color: #f4fffd;
  color: #e6972b;
}
.offset {
  width: 125px;
}
.dropbtn {
  background-color: #f4acb7;
  color: white;
  border: none;
  padding: 10px;
  font-family: Garamond;
  font-size: 1.5em;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 16px;
  font-size: 1.25em;
  text-decoration: none;
  font-family: garamond;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #e6972b;
}
/* body */
.homemain {
  display: flex;
  padding: 20px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.welcome {
  color: #e55f5c;
  font-family: Amatic SC, Verdana, sans-serif;
  font-size: 2.5em;
  padding: 20px;
  text-align: center;
}
/*footer*/
footer {
  background-color: #e6972b;
  color: #f4fffd;
  font-size: 1.2em;
}
.profile {
  height: 350px;
  border-radius: 50%;
}
.aboutme {
  padding: 40px;
  display: flex;
}
/*Reviews CSS*/
.review-header {
  padding: 10px;
  color: #e55f5c;
  font-family: Amatic SC, Verdana, sans-serif;
  text-align: center;
  font-size: 2.5em;
}
.revp {
  background-color: #e55f5c;
  color: white;
  font-size: 1.25em;
  text-align: center;
  padding: 20px;
}
.photos {
  display: flex;
  height: 425px;
  padding: 35px;
  justify-content: space-between;
}
.reviews {
  display: flex;
  justify-content: space-between;
  column-span: 425px;
  padding-bottom: 35px;
  padding-inline: 35px;
}
.rpara {
  width: 420px;
  text-align: center;
  font-size: 1.5em;
}
